<div class="filter">
    <div class="fr">
        <div class="col contact">
            <div class="input-field inline order-position-input">
                <input type="text">
                <label for="number">Имя</label>
            </div>
        </div>
        <div class="col filter-pickers">
            <div class="input-field">
                <input type="text" class="datepicker">
                <label>Email</label>
            </div>

            <div class="input-field">
                <input type="text" class="datepicker">
                <label>Номер</label>
            </div>
        </div>
    </div>

    <button class="btn waves-effect wavers-light btn-small">Добавить</button>
</div>
