
<div class="page-title">
    <h4>{{curUser.name}}. Cписок контактов</h4>
    <button
        (click) = "isFilterVisible = !isFilterVisible" 
        class="btn btn-small"
        [ngClass] = "{
            'active': isFilterVisible
        }"       
    >
        <i class="material-icons">filter_list</i>
    </button>
</div>
<!--Floating button-->
<div class="fixed-action-btn">
    <a 
    (click) = "isAddVisible =!isAddVisible"
    class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>
<app-contact-filter  
        *ngIf = "isFilterVisible"
>
</app-contact-filter>
<app-contact-add  
        *ngIf = "isAddVisible"
        [(contacts)] = "contacts"
        (onAdded)="onAddContact($event)"
>
</app-contact-add>
        
<app-contact-list 
        (onEdit) = "editContact($event)"
        (onDelete) = "delContact($event)"
        [(contacts)] = "contacts"></app-contact-list>
